:root {
  padding: 0;
  margin: 0;
}

body{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0;
    color: black;
    font-size: 10pt;
    font-family: "Trebuchet MS", sans-serif;
    background-color: #FAFAFA;
}


.header {
  width: 100%;
  background-color: #212121;
}

.header h1 {
  margin: 0;
  padding: 1em;
  color: #F5F5F5
}

.userentry {
  border-radius: 0.5em;
  border-width: 1px;
  border-style: solid;
  margin-top: 1em;
  margin-left: 2em;
  margin-right: 2em;
  padding: 0;

}

.userentry .name {
  font-size: 2em;
  font-weight: bold;
  margin-left: 5pt;
  margin-top: 2.5pt;
}

.userentry .accountid {
  font-size: 1.5em;
  margin-left: 5pt;
  margin-top: 2.5pt;
  margin-bottom: 2.5pt;

}

.userentry .app {
  margin-left: 5pt;
  margin-bottom: 2.5pt;
  font-size: 1.25em;
}

.starrating {
  margin-left: 5pt;
  margin-right: 5pt;
}
